$colors: (
  primary: (
    100: hsl(180, 0%, 25%),
    200: hsl(180, 0%, 20%),
    300: hsl(180, 0%, 15%),
    400: hsl(180, 0%, 10%),
    500: hsl(180, 0%, 5%),
  ),
  secondary: (
    100: hsl(341, 40%, 90%),
    200: hsl(341, 40%, 80%),
    300: hsl(341, 40%, 75%),
    400: hsl(341, 40%, 70%),
    500: hsl(341, 40%, 60%),
  ),
  light: (
    100: hsl(180, 21%, 90%),
    200: hsl(180, 21%, 85%),
    300: hsl(180, 21%, 80%),
  ),
);
